@font-face {
  font-family: 'Roboto-Bold';
  src: local('Roboto-Bold'), url('../fonts/Roboto-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: local('Roboto-Regular'), url('../fonts/Roboto-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto-Black';
  src: local('Roboto-Black'), url('../fonts/Roboto-Black.woff') format('woff');
}